extends ../layout/main-layout.pug

block content 
    .container
        if errorMessage
            div.alert.alert-danger #{errorMessage}

        .col-md-6.mx-auto
            .card
                .card-body
                    h2.card-title.text-center Login
                    form(action="/login" method="post")
                        input(type="hidden" name="_csrf" value=`${csrfToken}`)

                        .input-group.mb-3 
                            span.input-group-text#addon1 Username
                            input.form-control(type="text" name="username" aria-label="Username" aria-describedby="addon1")
                        
                        .input-group.mb-3
                            span.input-group-text#addon2 Password 
                            input.form-control(type="password" name="password" aria-label="Password" aria-describedby="addon2")

                        .input-group.mb-3
                            button.btn.btn-dark.btn-md.mx-auto(type="submit") Login
                        
                        //- .input-group
                        //-     a.btn.btn-danger.btn-md.mx-auto(href="/reset-password") Reset Password
