extends ../layout/main-layout.pug

block content
    .container
        if errorMessage
            div.alert.alert-danger #{errorMessage}

        .col-md-6.mx-auto
            .card
                .card-body
                    h2.card-title.text-center Change your password
                    form(action="/login" method="post")
                        input(type="hidden" name="_csrf" value=`${csrfToken}`)

                        .input-group.mb-3
                            span.input-group-text#addon1 E-mail
                            input.form-control(type="email" name="email" aria-label="Email" aria-describedby="addon1")

                        .input-group
                            button.btn.btn-dark.btn-md.mx-auto(type="submit") Send recovery email