html(lang="en")

include ../includes/head.pug

body
    include ../includes/nav.pug
    
    div.container(style="padding-top: 100px")
        block content
    
    include ../includes/scripts.pug
    